{
    "extends": "nicjansma",
    "env": {
        "node": true,
        "browser": true,
        "amd": true
    },
    "rules": {
        //
        // Disabled over nicjansma
        //
        "no-loop-func": 0
    }
}
